/*
======
Colors
======
*/

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray-1: #f8f8f8;
    --color-gray-2: #eeeeee;
    --color-gray-3: #cccccc;
    --color-gray-4: #aaaaaa;
    --color-gray-5: #777777;
    --color-gray-6: #444444;
    --color-gray-7: #272727;
    --color-gray-8: #1b1b1b;
    --color-orange: #df7e23;
    --color-yellow: #faf16d;
    --color-blue: #4bb3f0;
}